   <nav id="navbar">
        <div id="logo">
            <img src="logo.jpg" alt="myonlineMeals.com">
        </div>
        <ul>
            <li class="items"><a href="/">home</a></li>
            <li class="items"><a href="/registration">Registration</a></li>
            <li class="items"><a href="/about">About Us</a></li>
            <li class="items"><a href="/signIn">Sign In</a></li>
        </ul>
    </nav>