  <section class="services-container">
        <h1 class="h-primary">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="delevery.jpg" alt="There is no image">
                <h2 class="h-secondary ">Food Ordering</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, accusamus,
                    voluptatum ipsum facere numquam, quisquam dicta excepturi ratione placeat quas eveniet maiores
                    consequatur ipsam quos dolores ex voluptatem commodi laborum laboriosam repellat nostrum tempore
                    deserunt.</p>
            </div>
            <div class="box">
                <img src="burger.jpg" alt="There is no image">
                <h2 class="h-secondary ">Food Catering</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, accusamus,
                    voluptatum ipsum facere numquam, quisquam dicta excepturi ratione placeat quas eveniet maiores
                    consequatur ipsam quos dolores ex voluptatem commodi laborum laboriosam repellat nostrum tempore
                    deserunt.</p>
            </div>
            <div class="box">
                <img src="pi.jpg" alt="There is no image">
                <h2 class="h-secondary ">Bulk Ordering</h2>
                <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, accusamus,
                    voluptatum ipsum facere numquam, quisquam dicta excepturi ratione placeat quas eveniet maiores
                    consequatur ipsam quos dolores ex voluptatem commodi laborum laboriosam repellat nostrum tempore
                    deserunt.</p>
            </div>
        </div>
    </section>